/**
 * Istuary UI Framework
 * @author: Elle Kasai
 * @version: 1.1.0, 2016-03-30
 */

// Setting
@import "settings/normalize";
@import "settings/font";
@import "settings/var-color";
@import "settings/var-typography";
@import "settings/var-layout";
@import "settings/var-module";
@import "settings/mixins";
@import "settings/base";

// Angular Animations
@import "angular/angular-animate";

// Layout
@import "layout/grid";
@import "layout/container";
@import "layout/section";

// Modules
@import "modules/button";
@import "modules/footer";
@import "modules/form";
@import "modules/helper";
@import "modules/loaders";
@import "modules/toast";
@import "modules/pagination";
@import "modules/panel";
@import "modules/popup";
@import "modules/status";
@import "modules/table";
@import "modules/tooltip";

// Project
@import "project/sg-variables";
@import "project/sg-base";
@import "project/sg-container";
@import "project/sg-image";
@import "project/sg-notes";
@import "project/sg-side-nav";
@import "project/sg-spacer";
@import "project/sg-table";
@import "project/sg-trigger-up";


#app-layout{
	background-color: $color-bg-body;
	font-family: 'Rajdhani', sans-serif;

	.navbar{ //should i fix the navbar?
		background-color: $color-bg-header;
		color: $color-text-heading-h1;
		//height: 60px; caused issues but needs to be set
		
		a{
		 	color: $color-text-heading-h1;
		 	&:hover{
		 		text-decoration: none;
		 	}
		}

		.container{
			display: flex;

			.navbar-left{
				flex: 1;
				font-size: $font-size-xx-large;
			}

			.navbar-right{
				width: 200px;
				font-size: $font-size-default;
				p{
					color: $gray-20;
					/* need to download ArialMT for color */
				}
				a{
					text-decoration: underline;
				}
			}
		}

		.subnav {

			background-color: $gray-20;	
			height: 40px;

    		ul{
	    		overflow: hidden; //somehow kept buttons in box

	    		li{
	    			float: left;

					a {
						font-size: $font-size-h2;
						color: $color-text-heading-h2;
						display: block; //makes the entire block clickable
						padding: 8px 16px; //should make responsive
		    			width: 98px; //button width
		    			text-align: center; //centers the text in buttons
		    			height: 37px; //makes text fit border better

		    			&:hover { //targets hover
		    				color: $color-primary;
		    				text-decoration: none; //removes underline from hovered text
		    				border-bottom: solid 3px $color-primary; //adds underline under the border when hovered
		    				//need a way to target current tab to auto hover
		    			}
					}    		
	    		}
    		}
		}		
	}
}

#login{

	background-image: url("/images/LoginIstuary.png");
	background-size: cover;
	text-align: center;

	.container{

		h1{
			color: $jade;
			font-family: 'Rajdhani', sans-serif;
		}

		.panel{
			position: absolute;
			top: 42%;
			left: 33%;
			width:650px; 
			height: 800px;
			margin:300px 0px;

			panel-body{
				
			}
		}
	}
}

.events{
	.topevents{
		.topeventnav{
			display: flex;
			justify-content: space-between;		
			a, h2{
				font-size: $font-size-larger;
				margin: 10px 40px;
			}					
		}

		.openevents{
			width: 100%;
			border: 1px solid black;
			overflow: hidden;
			border: none;

			.singleopenevent{
			    width: 46%;
			    height: 150px;
			    margin: 2%;
			    float:left;
			    display: flex;
			    justifly-content: space-between;
			    background-color: $light-grey;

			    .singleeventleftbox{
			    	width: 60%;
			    	margin: 1% 5%;
			    	p{ font-family: $font-family-secondary; font-size: $font-size-h3; color: $stone;}
			    	p+p{ font-family: $font-family-primary; font-size: $font-size-h1; color: $jade;}
			    	p+p+p{ font-family: $font-family-secondary; font-size: $font-size-default;}
			    }
			    .singleeventrightbox{
			    	background-color: $lime;
			    	width: 30%;
			    	text-align: center;
			    	position: relative;
			    	.checkedin{
			    		margin: 10%;
				    	p{ font-family: $font-family-primary; font-size: $font-size-h1; color: $stone;}
				    	p+p{ font-size: $font-size-smallish;}			    	
			    	}
			    	.duplicate{
			    		position: absolute;
			    		bottom: 0;
			    		height: 20px;
			    		width: 100%;
			    		background-color: $gray-50;
			    		font-size: $font-size-smaller;
			    		a{
			    			display: block;
			    			color: $white;
			    			&:hover{text-decoration:none;}
			    		}
			    	}
			    }
			}
		}
	}
}

.project-outline{
	margin-top: 50px;
}