select, option { text-align-last:center; }

.fakeselect{
	display: inline-block;
	position: relative;
	height: 40px;
	width: 155px;
}

.openmode{
	color: $black !important;
	font-weight: bold;
}

.openstatus{
	background-color: $lochness;
	&:hover{
		background-color: lighten($lochness, 10%);
	}
}

.checkedinstatus{
	background-color: $tan;
	&:hover{
		background-color: lighten($tan, 10%);
	}	
}

.completedstatus{
	background-color: $ocean;
	&:hover{
		background-color: lighten($ocean, 10%);
	}	
}

.invitedstatus{
	background-color: $tan;
	color: $wood !important;
	&:hover{
		background-color: lighten($tan, 10%);
	}	
}

.goingstatus{
	background-color: $lime;
	color: $forest !important;	
	&:hover{
		background-color: lighten($lime, 10%);
	}	
}

.notstatus{
	background-color: lightgray;
	color: $forest !important;		
	&:hover{
		background-color: lighten(lightgray, 10%);
	}	
}

.invitestatus{
	background-color: $teal;
	&:hover{
		background-color: lighten($teal, 10%);
	}	
}

.guestcheckedin{
	background-color: $lime;
	&:hover{
		background-color: lighten($lime, 10%);
	}		
}

