/* ---------------------------------
  Project Style: Guestlist
--------------------------------- */

.openmode{
	background-color: $color-bg-open;
}


.invited{
	background-color: $color-bg-invited;
}

.contact-searchbar{
	
}

.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}

.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}