/* ---------------------------------
  Project Style: Forms
--------------------------------- */

.form{
	display: inline-block;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15px;
}
