/* ---------------------------------
  Project Style: Sub-Nav
--------------------------------- */

.subnav{
	margin: 10px auto 10px;
	display: flex;
	justify-content: space-between;
	h2, a{
		font-size: $font-size-larger;
	}
	.leftside{
		a{
			text-decoration: underline;
		}
	}
	.rightside{
		margin: 15px;
		.guestListCount{
			display: flex;
			text-align: center;
			justify-content: space-between;
		}
	}
}